<div align="center">
<img src="OC_logo.jpg" style="display=block; margin:auto"/>



# Produisez une étude de marché avec Python




<img src="FAO-logo-fr-w.png" style="display=block; margin:auto"/>

***
<div/>

## Mettre en place son environnement

In [1]:
#mettre en place la librairie avec la librairie PANDAS
import pandas as pd

In [2]:
#importer les données pd.read_csv("nomfichier", sep=";"ou",")
population = pd.read_csv('population.csv', sep=',')
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv', sep=',')
aide_alimentaire =pd.read_csv('aide_alimentaire.csv', sep=',')
sous_nutrition = pd.read_csv('sous_nutrition.csv', sep=',')

In [ ]:
#visualisation du contenu des données .head() .dtypes .shape .describe .info

In [3]:
#si besoin on renomme des colonnes pour mieux visualiser 
population.rename(columns ={'Valeur':'nbre_habitant'}, inplace = True)
population.head()

          Zone  Année  nbre_habitant
0  Afghanistan   2013      32269.589
1  Afghanistan   2014      33370.794
2  Afghanistan   2015      34413.603
3  Afghanistan   2016      35383.032
4  Afghanistan   2017      36296.113

In [ ]:
population.dtypes

In [ ]:
population.shape

In [ ]:
population.describe(include ='all')

In [ ]:
population.info

In [ ]:
dispo_alimentaire.head()

In [ ]:
dispo_alimentaire.dtypes

In [ ]:
dispo_alimentaire.describe(include = 'all')

In [ ]:
dispo_alimentaire.info

In [ ]:
aide_alimentaire.head()

In [ ]:
aide_alimentaire.dtypes

In [ ]:
aide_alimentaire.describe(include = 'all')

In [ ]:
aide_alimentaire.info

### Proportion de personnes en état de sous-nutrition en 2017

In [ ]:
#Selection des dataframes(données):les informations nécéssaires pour répondre se trouve dans  "population" et "sous_nutrition"
#préparation des dataframes pour pouvoir faire le calcule

In [4]:
sous_nutrition= pd.read_csv('sous_nutrition.csv', sep=',')
#plusieurs modifications à faire: selectionner dans un nouveau dataframe la population en malnutrition 2016-2018
sous_nutrition2017 =sous_nutrition.loc[sous_nutrition['Année']=='2016-2018']
#ramplacer toutes les valeurs "NAN" par 0
sous_nutrition2017 = sous_nutrition2017.fillna('0')
#ramplacer les valeurs '<0.1' par 0 
sous_nutrition2017.replace({'<0.1':'0'}, inplace = True)
#remplacer les valeurs de la colonne '2016-2018' par '2017'
sous_nutrition2017['Année']=2017
#modifier le type de la colonne valeur pour le mettre en integer 
sous_nutrition2017['Valeur'] = pd.to_numeric (sous_nutrition2017['Valeur'])
sous_nutrition2017['pop_sous_nutrition']= sous_nutrition2017['Valeur']*1000000
sous_nutrition2017.head()

              Zone  Année  Valeur  pop_sous_nutrition
4      Afghanistan   2017    10.5          10500000.0
10  Afrique du Sud   2017     3.1           3100000.0
16         Albanie   2017     0.1            100000.0
22         Algérie   2017     1.3           1300000.0
28       Allemagne   2017     0.0                 0.0

In [5]:
#selectionner dans un nouveau dataframe les valeurs qui correspond  à la population de l'année 2017
population2017= population.loc[population['Année']==2017]
population2017.head()
#créer une nouvelle colonne 'nb_hab' qui correspond à la colonne nbre_habitant en million que l'on convertie en millier 
population2017.insert(3,'nb_hab', population2017['nbre_habitant'].values*1000)
population2017.head()
#suppression de la colonne nbre_habitant qui est en million pour garder la colonne nb_hab en millier 
population2017.drop(columns=['nbre_habitant'], inplace=True)
population2017.head()

C:\Users\samir\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

              Zone  Année      nb_hab
4      Afghanistan   2017  36296113.0
10  Afrique du Sud   2017  57009756.0
16         Albanie   2017   2884169.0
22         Algérie   2017  41389189.0
28       Allemagne   2017  82658409.0

In [6]:
# creation d'un dataframe malnutrition avec les éléments de la table population2017 et sous_nutrition2017 avec une jointure
malnutrition = pd.merge(population2017, sous_nutrition2017, on='Zone', how='inner')
malnutrition.head()

             Zone  Année_x      nb_hab  Année_y  Valeur  pop_sous_nutrition
0     Afghanistan     2017  36296113.0     2017    10.5          10500000.0
1  Afrique du Sud     2017  57009756.0     2017     3.1           3100000.0
2         Albanie     2017   2884169.0     2017     0.1            100000.0
3         Algérie     2017  41389189.0     2017     1.3           1300000.0
4       Allemagne     2017  82658409.0     2017     0.0                 0.0

In [7]:
#calcul de la somme du nombre de la population en sous nutrition et de la somme du nombre de la population 
val_sous_nutri= malnutrition['pop_sous_nutrition'].sum()
val_total= malnutrition['nb_hab'].sum()
#division du nombre total de la population en sous_nutrition par le nombre total de la population
val_total,val_sous_nutri,val_sous_nutri/val_total*100

(7543798779.0, 535700000.0, 7.1011968332354165)

### Le nombre théorique de personnes qui pourraient être nourries en 2017

In [8]:
#Séléction de la bonne dataframe où trouver les informations nécéssaires 
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [9]:
# On regroupe part pays le nombre total de Disponibilité alimentaire 
dispo_pays_jour = dispo_alimentaire.groupby('Zone').sum()

In [10]:
dispo_pays_jour.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,351.41,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,564.80,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,1095.54,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,809.13,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,957.52,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [11]:
# On ne retient que les éléments de la colonne disponibilité alimentaire car se sont les seules données dont nous avons besoin
dispo_pays_jour=dispo_pays_jour['Disponibilité alimentaire (Kcal/personne/jour)']

In [52]:
# creation d'un nouveau dataframe qui réuni la disponiblité alimentaire par habitant et la population total de chaques pays 
dispo_total_pays =pd.merge(dispo_pays_jour,population2017,on='Zone',how='inner')

In [53]:
#on renomme la colonne car nous voulons la disponibilité alimentaire par an 
dispo_total_pays.rename(columns={'Disponibilité alimentaire (Kcal/personne/jour)':'Disponibilité alimentaire (Kcal/personne/an)'},inplace=True)
dispo_total_pays.head()

,Zone,Disponibilité alimentaire (Kcal/personne/an),Année,nb_hab
0,Afghanistan,2087.0,2017,36296113.0
1,Afrique du Sud,3020.0,2017,57009756.0
2,Albanie,3188.0,2017,2884169.0
3,Algérie,3293.0,2017,41389189.0
4,Allemagne,3503.0,2017,82658409.0

In [54]:
#On multiplie la colonne par 365 jours afin d'avoir la disponibilité à l'année 
dispo_total_pays['Disponibilité alimentaire (Kcal/personne/an)']*=365
dispo_total_pays.head()

,Zone,Disponibilité alimentaire (Kcal/personne/an),Année,nb_hab
0,Afghanistan,761755.0,2017,36296113.0
1,Afrique du Sud,1102300.0,2017,57009756.0
2,Albanie,1163620.0,2017,2884169.0
3,Algérie,1201945.0,2017,41389189.0
4,Allemagne,1278595.0,2017,82658409.0

In [55]:
#creation d'une nouvelle colonne qui correspond à la mutliplication de la dispo alimentaire par an avec le nombre d'habitant 
dispo_total_pays['dispo_alimentaire_Kcal_pays']= dispo_total_pays['Disponibilité alimentaire (Kcal/personne/an)']*dispo_total_pays['nb_hab']

In [56]:
dispo_total_pays.head()

,Zone,Disponibilité alimentaire (Kcal/personne/an),Année,nb_hab,dispo_alimentaire_Kcal_pays
0,Afghanistan,761755.0,2017,36296113.0,2.764875e+13
1,Afrique du Sud,1102300.0,2017,57009756.0,6.284185e+13
2,Albanie,1163620.0,2017,2884169.0,3.356077e+12
3,Algérie,1201945.0,2017,41389189.0,4.974753e+13
4,Allemagne,1278595.0,2017,82658409.0,1.056866e+14

In [57]:
#on additionne la dispo alimentaire de tous les pays pour avoir la disponibilité mondiale 
dispo_total_pays['dispo_alimentaire_Kcal_pays'].sum()

7635429388975815.0

In [58]:
#cette disponibilité alimentaire mondiale on la divise par le nombre de kcal necessaire par personne et par an 
dispo_total_pays['dispo_alimentaire_Kcal_pays'].sum()/(2500*365)

8367593850.9324

### La disponibilité alimentaire des produits végétaux en 2017

In [19]:
#traitement de la dataframe afin de ne retenir que l'information qui nous interresse, ici les produits d'origines végétales
dispo_vegetal = dispo_alimentaire.loc[dispo_alimentaire['Origine']== 'vegetale']

In [20]:
dispo_vegetal.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN

In [21]:
#On aditionne l'ensemble de la disponiblité alimentaire végétale par pays 
dispo_vegetal_pays = dispo_vegetal.groupby('Zone').sum()

In [22]:
dispo_vegetal_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,645.0,415.0,1871.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
Afrique du Sud,5122.0,761.0,2533.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
Albanie,559.0,172.0,2203.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
Algérie,4352.0,1706.0,2915.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
Allemagne,28122.0,6842.0,2461.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0

In [24]:
# ON multiplie la disponibilité végétale par jour par 365 pour l'avoir par an 
dispo_vegetal_pays['Disponibilité alimentaire (Kcal/personne/jour)']*=365

In [25]:
dispo_vegetal_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,645.0,415.0,682915.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
Afrique du Sud,5122.0,761.0,924545.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
Albanie,559.0,172.0,804095.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
Algérie,4352.0,1706.0,1063975.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
Allemagne,28122.0,6842.0,898265.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0

In [26]:
#On renomme la colonne pour correspondre à la dispo alimentaire par an 
dispo_vegetal_pays.rename (columns = {'Disponibilité alimentaire (Kcal/personne/jour)':'Disponibilité alimentaire (Kcal/personne/an)'},inplace = True)

In [27]:
dispo_vegetal_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,645.0,415.0,682915.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
Afrique du Sud,5122.0,761.0,924545.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
Albanie,559.0,172.0,804095.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
Algérie,4352.0,1706.0,1063975.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
Allemagne,28122.0,6842.0,898265.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0

In [60]:
#création d'un nouveau dataframe qui comprend la dispo alimentaire végétale par pays et la population total de chaque pays 
dispo_vegetal_pays_total = pd.merge(dispo_vegetal_pays,population2017,on='Zone',how='inner')

In [63]:
dispo_vegetal_pays_total.head()

,Zone,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,nb_hab
0,Afghanistan,645.0,415.0,682915.0,271.49,18.27,46.05,10884.0,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0,2017,36296113.0
1,Afrique du Sud,5122.0,761.0,924545.0,425.17,48.92,48.94,53439.0,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0,2017,57009756.0
2,Albanie,559.0,172.0,804095.0,706.49,38.76,51.96,3326.0,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0,2017,2884169.0
3,Algérie,4352.0,1706.0,1063975.0,632.35,54.12,66.94,35510.0,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0,2017,41389189.0
4,Allemagne,28122.0,6842.0,898265.0,568.82,63.63,39.90,126866.0,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0,2017,82658409.0

In [65]:
# Pour un tableau plus lisible on ne retient que les colonnes qui nous intéresse 
dispo_vegetal_pays_total_2= dispo_vegetal_pays_total[['Zone','Disponibilité alimentaire (Kcal/personne/an)','Année','nb_hab']]

In [66]:
dispo_vegetal_pays_total_2.head()

,Zone,Disponibilité alimentaire (Kcal/personne/an),Année,nb_hab
0,Afghanistan,682915.0,2017,36296113.0
1,Afrique du Sud,924545.0,2017,57009756.0
2,Albanie,804095.0,2017,2884169.0
3,Algérie,1063975.0,2017,41389189.0
4,Allemagne,898265.0,2017,82658409.0

In [67]:
#on créer une nouvelle colonne qui correspond à la multiplication de la disponibilité alimentaire et le nombre d'habitant 
dispo_vegetal_pays_total_2['dispo_vegetal_Kcal_pays'] = dispo_vegetal_pays_total_2['Disponibilité alimentaire (Kcal/personne/an)']*dispo_vegetal_pays_total_2['nb_hab']

C:\Users\samir\AppData\Local\Temp/ipykernel_18632/951907659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dispo_vegetal_pays_total_2['dispo_vegetal_Kcal_pays'] = dispo_vegetal_pays_total_2['Disponibilité alimentaire (Kcal/personne/an)']*dispo_vegetal_pays_total_2['nb_hab']

In [68]:
dispo_vegetal_pays_total_2.head()

,Zone,Disponibilité alimentaire (Kcal/personne/an),Année,nb_hab,dispo_vegetal_Kcal_pays
0,Afghanistan,682915.0,2017,36296113.0,2.478716e+13
1,Afrique du Sud,924545.0,2017,57009756.0,5.270808e+13
2,Albanie,804095.0,2017,2884169.0,2.319146e+12
3,Algérie,1063975.0,2017,41389189.0,4.403706e+13
4,Allemagne,898265.0,2017,82658409.0,7.424916e+13

In [69]:
#O additionne l'ensemble de la disponibilité végétale des pays pour avoir la disponibilité totale 
dispo_vegetal_pays_total_2['dispo_vegetal_Kcal_pays'].sum()

6300178937197865.0

In [70]:
# On divise ce montant par le besoin annuel en kcal par personne par an 
dispo_vegetal_pays_total_2['dispo_vegetal_Kcal_pays'].sum()/ (2500*365)

6904305684.6004

### Utilisation de la disponibilité interieure entre la part pour l'animale, la part perdue et la part pour l'homme

In [40]:
# ON Additionne la disponibilité intérieure de chaques pays 
dispo_interieur = dispo_alimentaire.groupby('Zone').sum()

In [42]:
dispo_interieur.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,2087.0,351.41,33.50,58.26,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,3020.0,564.80,83.58,85.33,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,3188.0,1095.54,106.48,111.37,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,3293.0,809.13,76.48,91.92,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,3503.0,957.52,141.62,101.39,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [80]:
#On additionne la disponibilité interieure de tous les pays pour avoir la disponibilité interieure mondiale 
dispo_interieur_total = dispo_interieur['Disponibilité intérieure'].sum()

In [86]:
# On divise la somme des aliments pour animaux de tous les pays par la disponibilité intérieure mondiale qu'on multiplie par 100 
dispo_animaux = dispo_interieur['Aliments pour animaux'].sum()/dispo_interieur_total*100

In [87]:
dispo_animaux

13.242418464261426

In [88]:
#On divise la somme des pertes de tous les pays par la disponibilité intérieure mondiale qu'on multiplie par 100 
pertes = dispo_interieur['Pertes'].sum()/dispo_interieur_total*100

In [89]:
pertes

4.606541541196999

In [90]:
#On divise la somme de la nourriture de tous les pays par la disponibilité intérieure mondiale qu'on multiplie par 100
dispo_humain= dispo_interieur['Nourriture'].sum()/dispo_interieur_total*100

In [91]:
dispo_humain

49.51021393657058

### Pays dont la proportion des personnes sous-alimentées est la plus forte en 2017

In [92]:
#On récupère la dataframe malnutrition de la première requete qui regroupe les informations dont nous avons besoin 
malnutrition.head()

             Zone  Année_x      nb_hab  Année_y  Valeur  pop_sous_nutrition
0     Afghanistan     2017  36296113.0     2017    10.5          10500000.0
1  Afrique du Sud     2017  57009756.0     2017     3.1           3100000.0
2         Albanie     2017   2884169.0     2017     0.1            100000.0
3         Algérie     2017  41389189.0     2017     1.3           1300000.0
4       Allemagne     2017  82658409.0     2017     0.0                 0.0

In [93]:
#On ajoute une colonne qui correspond à la division de la pop en sous nutrition par la population totale multiplié par 100
malnutrition.insert(6,'proportion_sous_nutrition',malnutrition['pop_sous_nutrition']/malnutrition['nb_hab']*100)

In [94]:
malnutrition.head()

,Zone,Année_x,nb_hab,Année_y,Valeur,pop_sous_nutrition,proportion_sous_nutrition
0,Afghanistan,2017,36296113.0,2017,10.5,10500000.0,28.928718
1,Afrique du Sud,2017,57009756.0,2017,3.1,3100000.0,5.437666
2,Albanie,2017,2884169.0,2017,0.1,100000.0,3.467203
3,Algérie,2017,41389189.0,2017,1.3,1300000.0,3.140917
4,Allemagne,2017,82658409.0,2017,0.0,0.0,0.000000

In [99]:
#on classe cette derniere colonne par ordre décroissant
malnutrition.sort_values(by=['proportion_sous_nutrition'], ascending = False)

,Zone,Année_x,nb_hab,Année_y,Valeur,pop_sous_nutrition,proportion_sous_nutrition
78,Haïti,2017,10982366.0,2017,5.3,5300000.0,48.259182
157,République populaire démocratique de Corée,2017,25429825.0,2017,12.0,12000000.0,47.188685
108,Madagascar,2017,25570512.0,2017,10.5,10500000.0,41.062924
103,Libéria,2017,4702226.0,2017,1.8,1800000.0,38.279742
100,Lesotho,2017,2091534.0,2017,0.8,800000.0,38.249438
...,...,...,...,...,...,...,...
81,Îles Cook,2017,17507.0,2017,0.0,0.0,0.000000
82,Îles Marshall,2017,58058.0,2017,0.0,0.0,0.000000
83,Îles Salomon,2017,636039.0,2017,0.0,0.0,0.000000
88,Irlande,2017,4753279.0,2017,0.0,0.0,0.000000
202,Zimbabwe,2017,14236595.0,2017,0.0,0.0,0.000000

### Pays bénéficiant le plus d'aide alimentaire depuis 2013

In [100]:
# Séléction de la dataframe avec les informations utiles 
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [108]:
#On change le types de la colonne 'Année' d'integer vers date afin d'eviter que l'odinateur n'additionne les Années 
aide_alimentaire['Année']=pd.to_datetime(aide_alimentaire['Année'])

In [113]:
#On additionne le nombre total d'aide alimentaire par pays depuis 2013
aide_alimentaire_total = aide_alimentaire.groupby('Pays bénéficiaire').sum()

In [114]:
aide_alimentaire_total.head()

                   Valeur
Pays bénéficiaire
Afghanistan        185452
Algérie             81114
Angola               5014
Bangladesh         348188
Bhoutan              2666

In [115]:
# on classe la colonne 'Valeur' d'aide alimentaire par ordre  décroissant
aide_alimentaire_total.sort_values(by=['Valeur'], ascending=False)

                                  Valeur
Pays bénéficiaire
République arabe syrienne        1858943
Éthiopie                         1381294
Yémen                            1206484
Soudan du Sud                     695248
Soudan                            669784
...                                  ...
Égypte                              1122
Vanuatu                              802
Timor-Leste                          116
Géorgie                               70
Bolivie (État plurinational de)        6

[76 rows x 1 columns]

### Pays ayant le plus de disponibilité alimentaire par habitant

In [143]:
# Sélectionner la bonne dataframe et avoir le nombre d'habitant en million 
population['nbre_habitant']/=1000

In [144]:
population.head()

          Zone  Année  nbre_habitant
0  Afghanistan   2013     32269589.0
1  Afghanistan   2014     33370794.0
2  Afghanistan   2015     34413603.0
3  Afghanistan   2016     35383032.0
4  Afghanistan   2017     36296113.0

In [145]:
# Convertir la colonne 'Année'dans le bon type afin de ne pas les additionner dans les calcules 
dispo_pays_habitant['Année']= pd.to_datetime(dispo_pays_habitant['Année'])

In [146]:
#On regoupe dans un nouveau dataframe le nombre d'habitant et la disponiblité alimentaire
dispo_pays_habitant = pd.merge(population,dispo_pays_jour, on='Zone', how='inner')

In [147]:
dispo_pays_habitant.head()

,Zone,Année,nbre_habitant,Disponibilité alimentaire (Kcal/personne/jour)
0,Afghanistan,2013,32269589.0,2087.0
1,Afghanistan,2014,33370794.0,2087.0
2,Afghanistan,2015,34413603.0,2087.0
3,Afghanistan,2016,35383032.0,2087.0
4,Afghanistan,2017,36296113.0,2087.0

In [148]:
#On multiplie la disponibilité alimentaire par jour par 365 pour l'avoir par an 
dispo_pays_habitant['Disponibilité alimentaire (Kcal/personne/jour)']*=365

In [149]:
dispo_pays_habitant.head()

,Zone,Année,nbre_habitant,Disponibilité alimentaire (Kcal/personne/jour)
0,Afghanistan,2013,32269589.0,761755.0
1,Afghanistan,2014,33370794.0,761755.0
2,Afghanistan,2015,34413603.0,761755.0
3,Afghanistan,2016,35383032.0,761755.0
4,Afghanistan,2017,36296113.0,761755.0

In [151]:
#On renomme la colonne pour correspondre à la nouvelle donnée 
dispo_pays_habitant.rename(columns={'Disponibilité alimentaire (Kcal/personne/jour)':'Disponibilité alimentaire (Kcal/personne/an)'}, inplace=True)

In [152]:
dispo_pays_habitant.head()

,Zone,Année,nbre_habitant,Disponibilité alimentaire (Kcal/personne/an)
0,Afghanistan,2013,32269589.0,761755.0
1,Afghanistan,2014,33370794.0,761755.0
2,Afghanistan,2015,34413603.0,761755.0
3,Afghanistan,2016,35383032.0,761755.0
4,Afghanistan,2017,36296113.0,761755.0

In [154]:
#On classe la disponibilité par personne par an par ordre décroissant 
dispo_pays_habitant.sort_values(by=['Disponibilité alimentaire (Kcal/personne/an)'], ascending=False)

,Zone,Année,nbre_habitant,Disponibilité alimentaire (Kcal/personne/an)
69,Autriche,2016,8747301.0,1376050.0
70,Autriche,2017,8819901.0,1376050.0
66,Autriche,2013,8556189.0,1376050.0
67,Autriche,2014,8615214.0,1376050.0
68,Autriche,2015,8678660.0,1376050.0
...,...,...,...,...
787,République centrafricaine,2014,4464175.0,685835.0
788,République centrafricaine,2015,4493170.0,685835.0
789,République centrafricaine,2016,4537686.0,685835.0
790,République centrafricaine,2017,4596023.0,685835.0
791,République centrafricaine,2018,4666368.0,685835.0

### Pays ayant le moins de disponibilité alimentaire par personne

In [155]:
#On reprend la même dataframe que la question précédente sauf que l'on classe par ordre croissant 
dispo_pays_habitant.sort_values(by=['Disponibilité alimentaire (Kcal/personne/an)'], ascending=True)

,Zone,Année,nbre_habitant,Disponibilité alimentaire (Kcal/personne/an)
791,République centrafricaine,2018,4666368.0,685835.0
789,République centrafricaine,2016,4537686.0,685835.0
788,République centrafricaine,2015,4493170.0,685835.0
787,République centrafricaine,2014,4464175.0,685835.0
786,République centrafricaine,2013,4447944.0,685835.0
...,...,...,...,...
70,Autriche,2017,8819901.0,1376050.0
69,Autriche,2016,8747301.0,1376050.0
68,Autriche,2015,8678660.0,1376050.0
67,Autriche,2014,8615214.0,1376050.0
66,Autriche,2013,8556189.0,1376050.0

### Proportion des céréales utilisées par les humains et pour les animaux pour 2017

In [176]:
#Selection de la dataframe avec les informations nécéssaires 
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [185]:
#On séléctionne uniquement les aliments d'origines végétales où on va trouver les céréales 
dispo_origine_vegetale =dispo_alimentaire.loc[dispo_alimentaire['Origine']=='vegetale']

In [186]:
dispo_origine_vegetale.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN

In [189]:
 #On selectionne dans la colonne 'Produit' la liste des céreales 
cereales=['Avoine', 'Blé', 'Céréales, Autres', 'Maïs','Millet', 'Orge', 'Riz (Eq Blanchi)', 'Seigle', 'Sorgho']
dispo_origine_cereales=dispo_origine_vegetale.loc[dispo_origine_vegetale['Produit'].isin(cereales)]

In [190]:
dispo_origine_cereales.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
7,Afghanistan,Blé,vegetale,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0
12,Afghanistan,"Céréales, Autres",vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
32,Afghanistan,Maïs,vegetale,200.0,NaN,21.0,2.50,0.30,0.56,313.0,0.0,1.0,76.0,31.0,312.0,5.0,NaN,NaN
34,Afghanistan,Millet,vegetale,NaN,NaN,3.0,0.40,0.02,0.08,13.0,NaN,NaN,12.0,1.0,13.0,0.0,NaN,NaN
40,Afghanistan,Orge,vegetale,360.0,NaN,26.0,2.92,0.24,0.79,524.0,NaN,10.0,89.0,52.0,514.0,22.0,NaN,0.0

In [191]:
#on regoupe par pays l'ensemble de la disponibilité liée aux céréales 
dispo_origine_cereales_pays =dispo_origine_cereales.groupby('Zone').sum()

In [192]:
dispo_origine_cereales_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,560.0,0.0,1560.0,179.87,5.52,41.04,7303.0,0.0,1303.0,5494.0,883.0,6350.0,363.0,0.0,-350.0
Afrique du Sud,4824.0,0.0,1538.0,180.02,10.20,41.09,15493.0,3777.0,3147.0,9503.0,500.0,14155.0,73.0,593.0,1969.0
Albanie,411.0,134.0,1144.0,149.27,6.08,35.49,1145.0,4.0,468.0,474.0,91.0,703.0,22.0,12.0,-22.0
Algérie,4337.0,820.0,1678.0,217.67,6.79,49.33,15013.0,2.0,10279.0,8535.0,1024.0,4914.0,253.0,42.0,-180.0
Allemagne,26615.0,1013.0,872.0,111.11,3.48,26.39,42158.0,16721.0,11093.0,9191.0,1221.0,47757.0,1027.0,3090.0,28.0

In [193]:
#On additionne la dispo interieure de tous les pays pour avoir la dispo interieure totale en céréales 
dispo_interieur_total2 = dispo_origine_cereales['Disponibilité intérieure'].sum()

In [194]:
#On divise la somme des aliments pour annimaux par la dispo interieure totale que l'on multiplie par 100
cereales_pour_animaux = dispo_origine_cereales_pays['Aliments pour animaux'].sum()/dispo_interieur_total2*100

In [195]:
cereales_pour_animaux

36.291456706047654

In [196]:
#On divise la somme de la nourriture par la dispo interieure totale que l'on multiplie par 100
cereales_pour_hommes = dispo_origine_cereales_pays['Nourriture'].sum()/dispo_interieur_total2*100

In [197]:
cereales_pour_hommes

42.75074480712289

### Proportion de l'exportation de manioc en Thaïlande par rapport à sa production

In [202]:
#On selectionne dans un nouveau dataframe les produits qui correspond au manioc 
dispo_alimentaire_manioc= dispo_alimentaire.loc[dispo_alimentaire['Produit']=='Manioc']

In [203]:
dispo_alimentaire_manioc.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
110,Afrique du Sud,Manioc,vegetale,NaN,57.0,0.0,0.0,0.0,0.00,57.0,2.0,58.0,0.0,NaN,NaN,NaN,NaN,1.0
203,Albanie,Manioc,vegetale,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
295,Algérie,Manioc,vegetale,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
390,Allemagne,Manioc,vegetale,1.0,26.0,NaN,NaN,NaN,NaN,27.0,14.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
475,Angola,Manioc,vegetale,8880.0,NaN,560.0,197.9,0.6,4.72,16412.0,0.0,0.0,4249.0,3282.0,16412.0,NaN,NaN,0.0

In [205]:
#On selectionne la thailande 
dispo_alimentaire_manioc_thailande=dispo_alimentaire_manioc.loc[dispo_alimentaire_manioc['Zone']=='Thaïlande']

In [208]:
#On selectionnne dans un souci de visibilité uniquement les colonnes qui nous interesse 
dispo_alimentaire_manioc_thailande1=dispo_alimentaire_manioc_thailande[['Zone','Produit','Production','Exportations - Quantité']]

In [209]:
dispo_alimentaire_manioc_thailande1.head()

            Zone Produit  Production  Exportations - Quantité
13809  Thaïlande  Manioc     30228.0                  25214.0

In [211]:
#On ajoute une colonne 'prop_export' qui correspond à la division de l'exportation par la production que l'on multiplie par 100
dispo_alimentaire_manioc_thailande1.insert(4,'prop_export',dispo_alimentaire_manioc_thailande1['Exportations - Quantité']/dispo_alimentaire_manioc_thailande1['Production']*100)

In [213]:
dispo_alimentaire_manioc_thailande1.head()

            Zone Produit  Production  Exportations - Quantité  prop_export
13809  Thaïlande  Manioc     30228.0                  25214.0     83.41273

### Proportion de la population en sous-nutrition en Thailande

In [214]:
#on recupere la dataframe malnutrition et on selectionne uniquement la thailande 
malnutrition.loc[malnutrition['Zone']=='Thaïlande']

,Zone,Année_x,nb_hab,Année_y,Valeur,pop_sous_nutrition,proportion_sous_nutrition
185,Thaïlande,2017,69209810.0,2017,6.2,6200000.0,8.958268